.Card {
    width: 180px;
    height: 250px;
    margin: 20px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card.selected {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(9,184,25,0.88); 
    box-shadow: 0px 0px 10px 5px rgba(9,184,25,0.88);
}

.Card img {
    width: 150px;
}