.Scoreboard {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
}

.Scoreboard .score {
    height: inherit;
    display: flex;
    align-items: center;
}

.Scoreboard .score .icon {
    background-color: #09b819;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.Scoreboard .score:nth-child(2) .icon {
    margin-right: 0;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .Scoreboard {
        flex-direction: column;
    }
}