.board {
    flex: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    margin-bottom: 40px;
}

.board .cell {
    border: 4px solid #fff;
    cursor: pointer;
}

.board .cell.-selected-x,
.board .cell.-selected-o {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    cursor: default;
}

.board .cell.-selected-o {
    background-image: url('../../../../public/tic-tac-toe/o2.png');
}

.board .cell.-selected-x {
    background-image: url('../../../../public/tic-tac-toe/x2.png');
}

.board .cell-1,
.board .cell-2,
.board .cell-3 {
    border-top: none;
}

.board .cell-1,
.board .cell-4,
.board .cell-7 {
    border-left: none;
}

.board .cell-3,
.board .cell-6,
.board .cell-9 {
    border-right: none;
}

.board .cell-7,
.board .cell-8,
.board .cell-9 {
    border-bottom: none;
}

.board .winning-line {
    position: absolute;
    background-color: #ee7171;
    height: 5px;
    width: 0;
    transition: width 2s;
}

.board .winning-line.diag-1 {
    width: 400px;
    transform: translate(-12px, 184px) rotate(45deg);
}
.board .winning-line.diag-2 {
    width: 400px;
    transform: translate(-16px, 175px) rotate(135deg);
}

.board .winning-line.hor-1 {
    width: 360px;
    transform: translateY(60px);
}
.board .winning-line.hor-2 {
    width: 360px;
    transform: translateY(180px);
}
.board .winning-line.hor-3 {
    width: 360px;
    transform: translateY(300px);
}

.board .winning-line.ver-1 {
    width: 360px;
    transform: rotate(90deg) translateX(178px) translateY(120px);
}
.board .winning-line.ver-2 {
    width: 360px;
    transform: rotate(90deg) translateX(178px);
}
.board .winning-line.ver-3 {
    width: 360px;
    transform: rotate(90deg) translateX(178px) translateY(-120px)
}
