.tic-tac-toe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tic-tac-toe .scoreboard-wrapper {
    width: 100%;
}

.tic-tac-toe .result {
    font-size: 4rem;
    text-align: center;
}

.tic-tac-toe .result p {
    margin: 0;
}
.tic-tac-toe .result p.winner {
    color: #09b819;
}
.tic-tac-toe .result p.loser {
    color: #c40000;
}
.tic-tac-toe .result p.draw {
    color: #f58427;
}

.tic-tac-toe .result button {
    font-family: 'DataControl';
    width: 250px;
    height: 60px;
    background-color: #ee7171;
    font-size: 24px;
    color: white;
    letter-spacing: 4px;
    margin: 50px 0;
    border-radius: 5px;
    cursor: pointer;
}

.tic-tac-toe .result button:not(.disabled):hover {
    background-color: #cc6060;
}
.tic-tac-toe .result button.disabled {
    background-color: #adadad;
    cursor: not-allowed;
}
